

@font-face {
    font-family: 'ralewaybold';
    src: url('font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: 'raleway';


}

/*Section principal boc page--------------------------------*/
#bloc_page{
    flex-wrap: wrap;
    position: relative;
    background-color: #ffffff;
    /*flex-wrap pour que les bloc se mettent l'un en dessous de l'autre en fonction de 
    la taille de l'écren*/
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    height: 100%;
    overflow: hidden;
}
/*titre et sous titre ainsi que la barre de recherche*/
h1{
    font-size: 19px;
    font-family:"raleway" ;
    margin-top: 10px;
    margin-left: 0px ;
    
}
#soustitre{
    font-family:"raleway" ;
    font-size: 13px;
    padding-top: 19px;
    position: relative;
    bottom: 20px;
    margin-left:0px ;
    
}

/*Section logo--------------------------------*/
#logo {
    float:left;
}

#logodusite{
    width: 115px;
    padding: 0px;
    margin-left:0px ;
    font-weight: 700;
}

header{
    width: 100%;
    flex-wrap: wrap;
}

/*Section navigation--------------------------------*/

header nav{
    position: relative;

}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 18%;
}

nav ul{
    margin: 0px ;
    padding: 0px;
    overflow: hidden;
   
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 20px;
    color: #000000;
}

.asinscrire{
    color: #0065FC;
}

nav ul li{
    list-style-type: none;
    float : right;
    border-top: 2px solid transparent;
    font-size: large;    
}

nav ul li:hover{
    border-top-color: #0065FC;
}

nav ul li:hover a{
    color: #0065FC;
}


/*Bar de recherche --------------------------------*/

form{
    background-color: rgb(255, 255, 255);
    border: 2px solid #f0f0f0;
    position: relative;
    display: inline-block;
    border-radius: 15px ;
    margin-left: 0px;
    bottom: 20px;
    overflow: hidden;
}

form div{
    display: inline-block;
    border-radius: 10px 0px 0px 10px;
    width: 40px;
    height: 35px;
    padding: 0px;
    margin: 0px; 
    background-color: #f0f0f0;
}

input {
    font-weight: 700;
    font-family: 'raleway';
    font-size: 13px;
    border-style: none;
    height: 30px ;
    outline: none;
    width: 100%;
    
}

input::placeholder {
    color: #000;
}

form i{
    font-size: 20px;
    border-style: none;
    border-radius: 15px 0px 0px 15px;
    background-color: #f0f0f0;
    padding: 0px 0px 0px 10px;
    width: 30px;
    padding-top:10.3px ;
    height: 37px;
    
   
}
#recherche_site{
    
    width: 160px;
}

#bouton_recherche{
    border-style: none;
    color: rgb(255, 255, 255);
    border-color: #0065FC;
    background-color:  #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    height: 45px;
    font-weight: 700;
    font-family: 'raleway';
    
}

#bouton_recherche a{
    font-family: 'raleway';
    font-size: 13px;
    border-style: none;
    color: rgb(255, 255, 255);
    border-color: #0065FC;
    background-color:  #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    height: 45px;
    text-decoration: none;
}


/* filtre de recherche--------------------------------*/
#filtres{
    padding-left: 0px;
}

#filtres .style_recherche:hover, #filtres .style_recherche:hover i, #filtres .style_recherche:hover a {
    color: rgb(255, 255, 255);
    background-color: #0065FC;
}

.style_filtres{
    list-style: none;
    position: relative;
    display: inline-block;
    padding-left: 0px;
    padding-right: 25px;
    font-weight: 700;
    font-family: 'raleway';
    
}

.style_recherche{
    border: 1px solid #d3cfcf;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 0px 25px 0px 0px;
    margin-right: 25px;
    border-radius: 36px ;
    margin-left: 10px;
    font-weight: 700;
    font-family: 'raleway';
}



#filtres li a{
    color: black;
    text-decoration: none;
    text-align: center;
}


#infos_logements{
    color: #0065FC;
    font-size: 15px;
    border: 1px solid #e0dddd;
    margin-right: 5px;
    border-radius: 100%;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;

}

#logements_dispodibles{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    margin-left: 0px;
    bottom: 10px;
    

}


/*Font Awesome color/position --------------------------------*/

.style_recherche i{
    color:#0065FC;
    font-size: 16px;
    background-color: #DEEBFF ;
    border-radius: 100%;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}




/*Section centrale herbegements et activités --------------------------------*/
#section_articles{
    display: flex;
}
section{
  /*Flexbox*/  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
/*fin de commande Flexbox*/
    background-color : #F2F2F2;
    border-radius: 15px;
    margin-right: 25px;
    margin-top: 1px;

}

/*Section hebergement article 1--------------------------------*/

#titre2{
    font-family: 'raleway';
    font-size: 19px;
    display: flex;
    padding-top: 30px;
    margin-left:50px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
}

.element_cliquable{
    display: flex;
    flex-wrap: wrap;

    text-decoration: none;
    color: black;
    width: 230px;
    height: 160px;
    margin-bottom: 30px;
}

.article{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(255, 255, 255);
    background-color: #FFFFFF;
    border-radius: 10px;
    flex-basis: 230px;
    height: 160px;
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
    margin: 10px;
    margin-top: 2%;

}
.article figcaption{
    margin-bottom: auto;
    margin-top: auto;
    width: 90%;

}

#hebergements .article .image_mask{
    height: 57%;
}

#hebergements .article .image_mask img{
    height: 100%;
    object-fit: cover;
    line-height: 50%;
    overflow: hidden; 
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}


.p_titre{
    margin-bottom: 5px;
    margin-top: auto;
    font-family: 'raleway';
    font-size: 15px ;
    margin-left: 5px;
    width: 95%;

}

.p_prix{
    font-size: 12px ;
    margin-bottom: 2px;
    margin-top: auto;
    margin-left: 5px;
    width: 80%;
}

.fontawesome_position .fas{
    color: #0065FC;
    font-size: 10px;
    margin-left: 5px;
    width: 2%;
   
}

.fa{
    color: #e0dddd;
    font-size: 10px;
    margin-left: 5px;
    width: 2%;
   
}

.fontawesome_position{
    height: 20px ;
    
}



#afficher_plus{
    display: flex;
    font-family: 'raleway';
    font-size: 15px;
    margin-top: 0%;
    margin-left: 50px;
    margin-bottom: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

#afficher_plus a{
    width: 90px;
}

/*Section block_droit texte plus icon--------------------------------*/
#populaires{
    padding:20px;
    padding-left:50px ;
    font-size: 19px;
    font-family: 'raleway';
   
}

#icon_populaires{
    margin-left: 175px;
    margin: auto;
    float: right;
    padding-right: 20px;

}
/*Section block_aside--------------------------------*/

aside{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #F2F2F2;
    width: 520px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 1px;
    padding-bottom: 20px;
}

aside .element_cliquable_aside{

    margin: auto;
    margin-bottom: 40px;
    width: 320px;
    height: 120px;
    text-decoration: none;
    color: black;

    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(212, 212, 212);
}

aside figure{
    width: 100%;
    height: 120px;
    display: block;
    margin: 0px;
    overflow: hidden;
}

aside  figure .image_mask{
    height: 100%;
    padding-bottom: 40px;
    display: inline-block;

}

aside .element_cliquable_aside figure figcaption{
    display: inline-block;
    position: relative;
    padding-left:10px ;
    bottom: 20%;
    
}



aside figure .image_mask img{
    width: 140px;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
 }

.titre_aside{
    display: inline;
    font-size: 15px ;
    font-family: 'raleway';

}

.prix_aside{
    font-size: 10px ;
    font-family: 'raleway';
    margin-top: 5px;
    width: 70%;
    
}


.fontawesome_position2{
    position: relative;
    margin-bottom: auto;
    top: 5px;
    width: 70%;
    margin-left:0px ;

}

.fontawesome_position2 i{
    color: #0065FC;
    font-size: 10px;
    margin: 0px;
    width: 10%;
}



/*Section Ativités à Marseille--------------------------------*/
#titre_activites{
    font-family: 'raleway';
    font-size: 19px;
    width: 100%;
    height: 10px;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: 0px;
}
.element_cliquable_activies{
    text-decoration: none;
    color: black;
    
    overflow: hidden;
}

#activites{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;

}

#activites div{
    margin: 0px;
    padding: 0px;

}

.titre_lieu{
    font-family: 'raleway';
    padding: 0px;
    margin: 0px;
    padding-left:10px ;
    font-size: 15px;
}


.activites_marseille_big{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
    border-radius: 10px;
    width: 290px;
    height: 400px;
    margin: 0;
    margin-bottom: 30px;
    

}

.activites_marseille_2{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(230, 230, 230);;
    border-radius: 10px;
    width: 290px;
    height: 200px;
    top: 70px;
    margin: 0px;
    margin-bottom: 30px;
    
}

.activites_marseille_3{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
    border-radius: 10px;
    width: 290px;
    height: 170px;
    top: 70px;
    margin: 0px;
    margin-bottom: 30px;
}

.activites_marseille{
    /* Activités 5 et 6--------------------------------*/
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
    border-radius: 10px;
    width: 290px;
    height: 185px;
    top: 70px;
    margin: 0px;
    margin-bottom: 30px;

}


/*Style des images activites--------------------------------*/



.box1 img{
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    position: relative;
    width: 290px;
    height: 360px;
    object-fit: cover;
}

/* box 2 img 2----------------------------------------------------------------*/
.activites_marseille_2 .activites2{
    border-radius: 10px 10px 0px 0px;
    width: 290px;
    height: 160px;
    object-fit: cover;

}

/* box 2 img 3----------------------------------------------------------------*/
.activites_marseille_3 .activites3{
    border-radius: 10px 10px 0px 0px;
    width: 290px;
    height: 130px;
    object-fit: cover;

}
/* box 3 Img 4----------------------------------------------------------------*/

.box3 img{
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    position: relative;
    width: 290px;
    height: 360px;
    object-fit: cover;
}

/* box 4 img 5 et 6----------------------------------------------------------------*/
.activites_marseille .activites5-6{
    border-radius: 10px 10px 0px 0px;
    width: 290px;
    height: 145px;
    object-fit: cover;

}
/*Section pied de page----------------------------------------------------------------*/

footer {
    margin-top: 20px;
    background-color: #F2F2F2 ;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    
}


footer div h2{
    font-family: 'raleway';
    color: rgb(0, 0, 0);
    text-align: start;
    font-size: 15px;
}
footer div p{
    font-family: 'raleway';
    font-size: 12px;
    color: #474747;
    margin-top: 8px;
}

#titre_footer1{
    margin-left: 80px;

}

#titre_footer2{
    margin-left: 300px;
}

#titre_footer3{
    margin-left: 300px;
}

/*diplay none du menu mobile=  affichage prédéfinie selon écran--------------------------------*/
.mobilescreen{
    display: none;
}
.mobilescreen_s{
    display: none;
}
#button2{
    display: none;
}



/*Média screem Iphones6------------------------------------------------------------------------------------------------*/
@media all and (max-width: 1020px){
    /*Section principal boc pade*/
    #bloc_page{
        background-color: #ffffff;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow: hidden;

    }


    header{
        width: 100%;
    }

    #logodusite{
        width: 100px;
        padding: 13px;
    }
/* "display : none" pour cacher le nav par défaut --------------------------------*/
    nav {
     
        display: none;
    
    }
  
/* header Mobile screen nav --------------------------------*/

    .mobilescreen_s{
        display: block;
        justify-content: center;
        border-bottom-color: #0065FC ;
        margin-left: 0px;
        padding: 0px;

    }


    .mobilescreen_s ul li:hover{
        border-bottom-color: #0065FC ;
    }

    .mobilescreen_s ul li {
        font-family: 'raleway';
        border-top: none;
        font-size: 20px;
        border-bottom: 2px solid transparent;
        margin-top: 10px;

    }
/* menu mobile---------------------------------------*/

    .mobilescreen{
        display: block;
        justify-content: center;
        border-bottom-color: #0065FC ;
        padding-top: 30px;

    }
    .mobilescreen ul{
        width: 100%;
        
    }


    .mobilescreen ul li {
        height: 80px;
        text-align: center;
        width: 50%;
        font-size: 20px;
        border-bottom: 2px solid #DEEBFF;
        border-top: none;
    }

    .mobilescreen ul .style_recherche:hover {
        
        border-bottom-color: #0065FC ;
    }


/*titre du site */


    header h1{
        text-align: center;
        font-size: 19px;
        margin: 0;
        margin-top: 30px;
    }
    header #soustitre{
        text-align: center;
        font-size: 15px;
    }


/* bare de recherche iphone----------------------------------------------------------------*/
    #bouton_recherche{
    display: none;
    }

    form{
        border: 2px solid #F2F2F2;
        background-color: rgb(255, 255, 255);
        border-radius: 17px 17px 17px 17px;
        width: 350px;
        height: 51px;
        padding: 0px;
        left: 15px;
        overflow: hidden;
        
    }

    #recherche_site{
        width: 252.3px;
        height: 30px;
        font-size: 20px;
        border-style: none;
    
    }

    form div i{
        height: 100%;
        
    }

    form div {
        padding-top: 2.5px;
        height: 100%;  
    }

/* i barre de reccherche mobile----------------------------------------------------------------*/
    #bouton_mobile{
        border-style: none;
        color: rgb(255, 255, 255);
        background-color:  #0065FC;
        padding: 10px 0px 0px 0px;
    
    }

    form #button2{
        display: inline-block;
        background-color: #0065FC;
        border-style: none; 
        border-radius: 15px;
        width: 50px;
        height: 52px;
        
    }

    header form{
        display: inline-block;
    }

/* section filtre de recherche----------------------------------------------------------------*/

    .style_filtres{
        width: 80%;
        left: 15px;
        font-size: 19px;
    }


    #filtres li{
        display: inline-flex;
        margin-bottom: 15px;
    }

    #filtres .style_recherche{
        font-family: 'raleway';
        font-size: 15px;
        display: inline-block;
        justify-content: start;margin-right: 0px;
    }

    #filtres .style_recherche i{
        font-size: 15px;
       
    }

    .style_recherche i{
        color:#0065FC;
        font-size: 16px;
        background-color: #DEEBFF ;
        border-radius: 100%;
        margin-right: 10px;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
    }

    #logements_dispodibles{
        font-size: 17px;
        margin-left: 15px;
    }
    #logements_dispodibles #infos_logements{
        color: #0065FC;
        font-size: 10px;
        border-radius: 100%;
        border: 1px solid #e0dddd;
        margin-right: 5px;
    
    }


/* aside iphone6 ----------------------------------------------------------------*/

    aside{
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-radius: 0%;

    }

    aside .element_cliquable_aside {
      
        height: 140px;
        width: 90%;
        overflow: hidden;


    }

    aside a figure{
        width: 100%;
        height: 100%;
    }
    
    aside a figure .image_mask{
        width: 45%;
    }

    aside a figure .image_mask img{
        width: 100%;
        position: relative;
    }

    aside a figure figcaption{
        bottom: 40px;
        left: 5px;
    }

    aside .element_cliquable_aside figure figcaption{
    display: inline-block;
    position: relative;
    padding-left:10px ;
    bottom: 30%;
    
}

    aside a figure figcaption .prix_aside{
        font-size: 10px;
        padding-top: 5px;
    }

    aside #populaires{
        font-size: 20px;
        padding-left: 20px;
    
    }
    aside figcaption .titre_aside{
        font-size: 18px;
        
    }

    aside figcaption .prix_aside{
        font-size: 13px;
    }

    .fontawesome_position2 {
        right:5px ;
        top: 20px;
    }

    .fontawesome_position2 i{
        font-size: 15px;
        width: 15%;
    }
    

/*articles hebergements----------------------------------------------------------------*/

    #hebergements{
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    }

    #hebergements .element_cliquable {
        /* display: flex; */
        text-decoration: none;
        color: black;
        width: 97%;
        height: auto;
        margin-bottom: 30px;
    }
    

    #section_articles #titre2{
        margin-left: 20px;
        margin-top: 30px;
        font-size: 25px;
    }  
    #afficher_plus{
        margin-left: 25px;
        margin-top: 30px;
        font-size: 20px;
        font-family: 'raleway'
    }

    #section_articles{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .article{
        margin-left: 23px;
        margin-bottom: 20px;
        flex-basis: 100%;
        height: 230px;
        display: flex;
        flex-direction: column;
    }
    #hebergements .article figcaption h5{
        font-size: 19px;
        width: 100%;
    }
    #hebergements .article figcaption #p_prix{
        font-size: 19px;
        width: 100%;
    }
    #hebergements .article figcaption i{
        font-size: 15px;
    
    }
    #fontawesome_position{
        padding-top: 10px;
    }
    

/*activité à marseille----------------------------------------------------------------*/

    #titre_activites{
        font-size:25px;
        text-align: start;
        margin-left: 25px;
        padding-bottom: 30px;
    }

    #activites{
        flex-direction: column;
        flex-basis: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        margin-left: 23px;
    }

    

    .element_cliquable_activies{
        text-decoration: none;
        color: black;
        width: 97%;
        height: 180px;
        margin-bottom: 0px;
        overflow: hidden;
    }

   .box1, .box2, .box3, .box4{
        width: 88%;
    }

   #activites div h2{
        padding: 10px;
        margin-left: 10px;
        font-size: 20px;
    }

    .box1 .activites_marseille_big{
        width: 100%;
        height: 200px;
        
    }

    .box1 .activites_marseille_big img{
        width: 100%;
        height: 150px;
    }

    .box2 .activites_marseille_2{
        width: 100%;
        height: 200px;
    }


    .box2 .activites_marseille_2 img{
        width: 100%;
        height: 150px;
    }


    .box2 .activites_marseille_3{
        width: 100%;
        height: 200px;
    }


    .box2 .activites_marseille_3 img{
        width: 100%;
        height: 150px;
    }


    .box3 .activites_marseille_big{
        width: 100%;
        height: 200px;
        
    }

    .box3 .activites_marseille_big img{
        width: 100%;
        height: 150px;
    }

    .box4 .activites_marseille{
        width: 100%;
        height: 200px;
    }

    .box4 .activites_marseille img{
        width: 100%;
        height: 150px;
    }



    /* footer section----------------------------------------------------------------*/
    footer{
        height: 500px;
        flex-direction: column;
        
    }
    footer div h2{
        font-size: 20px;
    padding-top:20px ;
        padding-left: 30px;
    }

    footer div p{
        text-align: start;
        padding-left: 30px;
        font-size: 15px;
    }



    #titre_footer1{
        margin-left: 0px;

    }

    #titre_footer2{
        margin-left: 0px;
    }

    #titre_footer3{
        margin-left: 0px;
    }


}

